body {
    text-align: center;
    font-family: 'Tektur', sans-serif;
    background-color: beige;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.main-title {
    font-family: 'Bungee Spice', sans-serif;
}

.title {
    color: #e4771b;
}

.inline-block {
    display: inline-block;
    padding: 10px 20px;
}

.recipe-list {
    border-radius: 10px;
    background-color: blueviolet;
    color: beige;
    list-style: none;

}

.recipe-list li a {
    color: beige;
    text-decoration: none;

}

.recipe-list li a:hover {
    color: #e4771b;
}

li {
    text-align: left;
    list-style-position: inside;
    padding: 5px;
}

li:nth-child(even) {
    color: blueviolet;
}

h2 {
    background-color: blueviolet;
    color: beige;
    border-radius: 10px;
}

img {
    border-radius: 10px;
    max-height: 50vh;
    max-width: 100%;
}

.button {
    background-color: blueviolet;
    color: beige;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover {
    background-color: #e4771b;
}

ol,
ul {
    max-width: 700px;
}