body {
    text-align: center;
    font-family: cursive;
    background-color: beige;
}

.title {
    color: blueviolet;
}

.inline-block {
    display: inline-block;
    padding: 10px 20px;
}

.recipe-list {
    border-radius: 10px;
    background-color: blueviolet;
    color: beige;
}

.recipe-list li a {
    color: beige;
}

li {
    text-align: left;
    list-style-position: inside;
}

h2 {
    background-color: blueviolet;
    color: beige;
}

img {
    border-radius: 10px;
}

.button {
    background-color: blueviolet;
    color: beige;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}